
.unimet-headerUser {
    width: 100%;
    position: fixed; /* Fija el header en la parte superior de la pantalla */
    top: 0; 
    z-index: 10;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
  }
  
   
   .top-bar {
    background-color: #3b5998;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-bottom: 3px solid #20c997;
    position: relative;
    right: 8px;
  }

  .uni-logo img {
    height: 35px;
  }
  
  .auth-links {
    display: flex;
    align-items: center;
  }

  .auth-links a {
    color: white;
    margin-left: 18px;
    position: relative;
    right: 35px;
    text-decoration: none;
  }
  
  .auth-links a:hover {
    text-decoration: underline;
  }
  
  
  .auth-links .user-icon {
    margin: 0 32px; 
    height: 25px; 
  }

    .main-header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .brand h1 {
    color: #29CCBA;
    font-size: 2.7em; /* aumenta el tama침o de la fuente de moloka'i */
    margin: 0;
    font-family: "playfair display", serif; 
    font-weight: 700; /* usar la fuente inter en negrita */
    padding-right: 40px;
    max-width: 60%;
    height: auto;
  }
  
  nav {
    display: flex;
    gap: 250px;
    align-items: center;
    margin-left: auto;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: "Poppins", sans-serif; 
    position:relative;
    right: 73px;
    font-size: 1.6em; /* Aumenta el tama침o de la fuente de INICIO, NOSOTROS, y MENU */
  }
  
  nav .menu-btn {
    color: #ff6b6b;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    right: 43px;
    font-size: 1.6em; /* Aumenta el tama침o de la fuente del bot칩n MENU */
  }
  
  .cart {
    margin-left: 40px;
  }
  .cart img {
    height: 60px;
    cursor: pointer; 
  }
  
  .logoMolokai {
    z-index: 9;
    flex: 1;
    text-align: center;
    position: absolute; 
    top: 20px;
    left: 47%; 
    transform: translateX(-50%); 
  }
  
  .logoMolokai img {
    max-width: 140px;
  }


  .line-1 {
    z-index: 0;
    height: 3px;
    background: #29CCBA;
    position: relative;
    right: 7px;
  }
  