* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  width: 100%;
  position: fixed; /* Fija el header en la parte superior de la pantalla */
  top: 0;
  z-index: 10;
  background-image: url("../assets/images/imgBanner/Banner-Poke.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.top-bar {
  background-color: #3b5998;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}

.uni-logo img {
  height: 35px;
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links a {
  color: white;
  margin-left: 8px;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

.auth-links .separator {
  margin: 0 5px;
  height: 22px;
}

.auth-links .user-icon {
  margin: 0 5px;
  height: 25px;
}

.main-header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.brand h1 {
  color: #20c997;
  font-size: 2.7em; /* Aumenta el tama침o de la fuente de MOLOKA'I */
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

nav a {
  text-decoration: none;
  color: #ff6b6b;
  font-weight: bold;
  font-size: 1.3em; /* Aumenta el tama침o de la fuente de INICIO, NOSOTROS, y MENU */
}

nav .menu-btn {
  background-color: #ff6b6b;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.3em; /* Aumenta el tama침o de la fuente del bot칩n MENU */
}

.cart {
  margin-left: 40px;
}
.cart img {
  height: 60px;
  cursor: pointer;
}

.logoMolokai {
  flex: 1;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.logoMolokai img {
  max-width: 140px;
}
